name: Linting
on: [pull_request, workflow_dispatch]

concurrency:
  group: lint-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  linting:
    name: Linting
    runs-on: macOS-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: bundle install

      - name: Run Linting
        run: bundle exec fastlane lint
